table {
    border: 2px solid purple;
    /*border-collapse: collapse;*/
}

th, td {
    border: 2px solid palevioletred;
}

caption {
    border: 2px solid pink;
}

.aprobado {
    background-color: greenyellow;
}

.suspenso {
    background-color: red;
}